Position: Quality Control Employee

Job Description

As a QC, you will work the team to qualify the output of a project in every build.

Key job functions:

As a QC, you will work the team to qualify the output of a project in every build.

• Write test plan, test case for a build
• Execute test case
• Post defect, control defect rate of a build
• Work with BA and Project Lead to qualify the build

Job Requirement
• At least 0.5 - 1 year of QC position.
• Bachelor’s degree or equivalent combination of education and experience
• Experience in manual testing is required.
• Experience in web site testing is required.
• Experience in Test Link is optional.
• Used to be a developer is preferred.
• Experience in UX design and End User Oriented.
• Able to approach database, deep inside code to find issues.
• Logical approach, sound thinking
• Team work and ability to estimate and work to deadlines
• Full-Time position(s) available.

Please send your CV + Cover letter to email: itrecruit@ghn.vn
(CC: hieutm@ghn.vn )
